@charset "UTF-8";

body {
    background-image: linear-gradient(to top, #265073, #F1FADA);
    background-attachment: fixed;
}

.Text-principal {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #2D9596;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Text-principal2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #2D9596;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}